*{
    box-sizing: border-box;
  }

  img{
    width: 100%;
  }

  .carousel{
    height: 100%;
  }
  @media (max-width: 600px){
    .carousel{
      height: 300px;
    }
  }
  .posts{
    background: #032041;
    color: white;
  }
  .container.hero{
    background: #032041;
    height: 50vh;
    margin-top: 5%;
  }